<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pzhu.ssm.mapper.CourseMapper">
    <!--设置结果集对应关系-->
    <resultMap id="CourseTopic" type="CourseTopic">
        <id property="cid" column="cid"/>
        <result property="toid" column="to_id"/>
        <result property="toname" column="to_name"/>
    </resultMap>
    <select id="selectTopic" resultMap="CourseTopic">
        SELECT course.`cid`,course.`cname`,course.`tid`,topic.`to_id`,topic.`to_name` FROM course LEFT JOIN topic ON course.cid=topic.cid
    </select>
</mapper>